version: "3.9"

services:
  mongo:
    image: mongo:5.0
    container_name: airgo-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  minio:
    image: minio/minio
    container_name: airgo-minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data

  backend:
    build: .
    container_name: airgo-backend
    restart: always
    depends_on:
      - mongo
      - minio
    environment:
      NODE_ENV: development
      MONGO_URI: mongodb://mongo:27017/airgo
    ports:
      - "4000:4000"

volumes:
  mongo_data:
  minio_data:
